{% extends "base.html" %}
{% load static %}

{% block body %}
<style>
    .card-link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .card-link .card {
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .card-link:hover .card {
        background-color: #f1f3f3 !important;
        transform: scale(1.03);
        color: #1c536d;
    }
</style>

<div class="container text-center" style="padding-top: 150px;">

    <div>Módulo centro de costos</div>
    <div>Tupac Amaru</div>

    <div class="row justify-content-center">
        <!-- Cuadro: Control Expediente -->
        <div class="col-6 col-md-3 mb-4">
            <a href="{% url 'centro_costos:lista_actividades' %}" class="card-link">
                <div class="card h-100 shadow-sm">
                    <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
                        <img src="{% static 'images/centro_costos/actividades.png' %}" alt="Actividades"
                            style="max-height: 100%; max-width: 100%; object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Actividades</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 mb-4">
            <a href="{% url 'centro_costos:lista_gastos' %}" class="card-link">
                <div class="card h-100 shadow-sm">
                    <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
                        <img src="{% static 'images/centro_costos/gastos.png' %}" alt="gastos"
                            style="max-height: 100%; max-width: 100%; object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gastos</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        
        <div class="col-6 col-md-3 mb-4">
            <div>Canta Callao</div>
            <a href="{% url 'centro_costos:lista_canta_callao' %}" class="card-link">
                <div class="card h-100 shadow-sm">
                    <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
                        <img src="{% static 'images/centro_costos/actividades.png' %}" alt="Actividades"
                            style="max-height: 100%; max-width: 100%; object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gastos</h5>
                    </div>
                </div>
            </a>
        </div>

        
        <div class="col-6 col-md-3 mb-4">
            <div>Bienes Raices</div>
            <a href="#" class="card-link">
                <div class="card h-100 shadow-sm">
                    <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
                        <img src="{% static 'images/centro_costos/actividades.png' %}" alt="Actividades"
                            style="max-height: 100%; max-width: 100%; object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gastos</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}