{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!--BOOSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Bienes Raíces Santa Clara SAC{% endblock %}</title>
</head>

<body>

    <style>
        .navbar {  
            box-shadow: {% if request.user.role == 3 %}0 1px 3px 1px #ffc2c2{% else %}0 1px 3px 1px #4c566a{% endif %};
        }
    
    </style>    

    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background-color: {% if request.user.role == 3 %}#9a1413{% else %}#3b4252{% endif %}; padding-top: 5px; padding-bottom: 5px;">
        <div class="container-fluid">
            <!-- Logo e identidad -->
            <div class="navbar-brand d-flex align-items-center me-4" style="cursor: default;">
                <img src="{% static 'logo/logotipo_empresa.png' %}" alt="Logo" style="height: 40px; width: auto;"
                    class="d-inline-block align-text-top me-2">
                <span style="font-weight: bold; font-size: 1.2rem;">Bienes Raíces Santa Clara S.A.C.</span>
            </div>
            
            <!-- Botón toggle para móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Enlaces a la izquierda -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link text-white me-2 link-hover" href="{% url 'home' %}">Inicio</a>
    </li>
    {% if user.role == 3 %}
        <li class="nav-item">
            <a class="nav-link text-white me-2 link-hover" href="{% url 'lista_usuarios' %}">Administración</a>
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a style="color: white;" class="nav-link dropdown-toggle link-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documentos
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'lista_partidas' %}">Partidas</a></li>
            <li><a class="dropdown-item" href="{% url 'lista_planos' %}">Planos y otros</a></li>
        </ul>
    </li>
    
    {% if user.role == 2 %}
        <li class="nav-item">
            <a class="nav-link text-white me-2 link-hover" href="{% url 'control_expediente:lista_expediente' %}">Expedientes</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link text-white me-2 link-hover" href="{% url 'centro_costos:centro_costos_home' %}">Costos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white me-2 link-hover" href="{% url 'control_expediente:lista_expediente' %}">Expedientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white me-2 link-hover" href="#">Requerimientos</a>
        </li>
    {% endif %}
{% endif %}
                </ul>

                <!-- Usuario autenticado / Cierre de sesión -->
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center">
                        <span class="nav-link text-white d-flex align-items-center me-2">
                            <i class="bi bi-person-circle" style="font-size: 1.1rem; line-height: 1;"></i>&nbsp;Perfil:
                            {{ user.get_role_display }}
                        </span>
                        <div class="text-white mx-2">|</div>
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm text-white" style="background-color: transparent;"
                                onmouseover="this.style.backgroundColor='#9c4e55'; this.style.fontWeight='bold';"
                                onmouseout="this.style.backgroundColor='transparent'; this.style.fontWeight='normal';">
                                Cerrar sesión
                            </button>

                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}
</body>

<!--BOOSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<!-- EXCEL-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</html>