{% extends "base.html" %}
{% load static %}

{% block title %}
Iniciar sesión
{% endblock %} {% block body %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  ">
    <div class="card p-4 shadow">
        <div class="text-center mb-4">
            <img src="{% static 'images/login.png' %}" alt="Logo" class="img-fluid" style="height: 80px" />
        </div>

        <h5 class="text-center mb-4">Iniciar sesión</h5>

        <form method="POST">
            {% csrf_token %} {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <div class="mb-3">
                <label for="userField" class="form-label">Nombre de usuario</label>
                <input type="text" id="userField" name="username" class="form-control" autocomplete="off" required />
            </div>

            <div class="mb-3 password-wrapper">
                <label for="passwordField" class="form-label">Contraseña</label>
                <input type="password" id="passwordField" name="password" class="form-control" required />
                <span class="toggle-password">
                    <i class="bi bi-eye" id="toggleIcon" aria-hidden="true"></i>
                </span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn">Ingresar</button>
            </div>
        </form>
    </div>
</div>

<!-- JavaScript para alternar visibilidad de la contraseña -->
<script>
    const passwordField = document.getElementById("passwordField");
    const togglePassword = document.getElementById("toggleIcon");

    togglePassword.addEventListener("click", function () {
        const type =
            passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);

        // Cambiar el ícono
        this.classList.toggle("bi-eye");
        this.classList.toggle("bi-eye-slash");
    });
</script>

{% endblock %}